@mixin specialChar {
  position: relative;
  cursor: pointer;

  &.touched, &.clicked {
    color: #FF9A66;
  }

  &.clicked {
    animation: rotateChar 1s linear infinite forwards;
  }

  @keyframes rotateChar {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 18px);
  width: calc(100% - 18px);
  background-color: #000;
  border: 4px solid #444;
  padding: 5px;
  box-shadow: 0 0 20px #666;
  overflow: hidden;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;

    .letter {
      font-size: 3rem;
      font-family: "Orbitron", sans-serif;
      color: #fff;
      margin: 0 .25rem;
      transition: font-size 0.2s ease-in-out;
      user-select: none;

      &.v {
        @include specialChar;
      }

    }
  }

  app-game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 90%;
    margin: auto;
  }

  .arrows-overlay {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    background-color: #000;
    opacity: 0.5;
    color: #FFF;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &.full {
      background-color: darkred;
    }

    .arrow {
      margin: 0 .25rem;
      user-select: none;

      &.ArrowLeft {
        transform: rotate(-90deg);
      }

      &.ArrowUp {
        margin-top: .5rem;
      }

      &.ArrowDown {
        margin-bottom: .5rem;
        transform: rotate(180deg);
      }

      &.ArrowRight {
        transform: rotate(90deg);
      }
    }
    width: fit-content;
  }

  @media screen and (max-width: 1023px) {
    height: calc(100% - 14px);
    width: calc(100% - 8px);
    padding: 5px 0 0 0;

    .title > .letter {
      font-size: 2rem;
    }

    app-game-board {
      height: 95%;
      width: 100%;
    }
  }
}
