@mixin specialChar {
  position: relative;
  cursor: pointer;

  &.touched, &.clicked {
    color: #FF9A66;
  }

  &.clicked {
    animation: rotateChar 1s linear infinite forwards;
  }

  @keyframes rotateChar {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}


@keyframes borderGradient {
  0% {
    border-image: linear-gradient(to right, gold, orange, red, purple, indigo, gold, blue, green) 1;
    border-color: #FF0000;
    box-shadow: 0 0 10px #FF0000;
  }
  20% {
    border-image: linear-gradient(to right, green, gold, blue, indigo, purple, red, orange, gold) 2;
    border-color: #FFA500;
    box-shadow: 0 0 10px #FFA500;
  }
  40% {
    border-image: linear-gradient(to right, gold, orange, red, purple, gold, indigo, blue, green) 3;
    border-color: #FFFF00;
    box-shadow: 0 0 10px #FFFF00;
  }
  60% {
    border-image: linear-gradient(to right, green, gold, blue, indigo, purple, red, orange, gold) 4;
    border-color: #008000;
    box-shadow: 0 0 10px #008000;
  }
  80% {
    border-image: linear-gradient(to right, gold, orange, red, purple, gold, indigo, blue, green) 5;
    border-color: gold;
    box-shadow: 0 0 10px gold;
  }
  90% {
    border-image: none;
    border-color: gold;
    box-shadow: 0 0 20px gold;
  }
  100% {
    border-image: none;
    border-color: #444;
    box-shadow: none;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 18px);
  width: calc(100% - 18px);
  background-color: #000;
  border: 4px solid #444;
  padding: 5px;
  box-shadow: 0 0 20px #666;
  overflow: hidden;

  &.success {
    animation: borderGradient 5s linear infinite;
    border-image-slice: 1;
    animation-fill-mode: forwards;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;

    .letter {
      font-size: 3rem;
      font-family: "Orbitron", sans-serif;
      color: #fff;
      margin: 0 .25rem;
      transition: font-size 0.2s ease-in-out;
      user-select: none;

      &.v {
        @include specialChar;
      }

    }
  }

  app-game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 90%;
    margin: auto;
  }

  .arrows-overlay {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    background-color: #000;
    opacity: 0.5;
    color: #FFF;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &.success {
      position: unset;
      background-color: darkgreen;
      animation: sparkle 2s ease-in-out 2;
      width: auto;
    }

    &.fail {
      background-color: darkred;
    }

    .arrow {
      margin: 0 .25rem;
      user-select: none;

      &.left {
        transform: rotate(-90deg);
      }

      &.up {
        margin-top: .5rem;
      }

      &.down {
        margin-bottom: .5rem;
        transform: rotate(180deg);
      }

      &.right {
        transform: rotate(90deg);
      }
    }
    width: fit-content;
  }

  @media screen and (max-width: 1023px) {
    height: calc(100% - 14px);
    width: calc(100% - 8px);
    padding: 5px 0 0 0;

    .title > .letter {
      font-size: 2rem;
    }

    app-game-board {
      height: 95%;
      width: 100%;
    }
  }
}
