@mixin specialChar {
  position: relative;
  cursor: pointer;

  &.touched, &.clicked {
    color: #FF9A66;
  }

  &.clicked {
    animation: rotateChar 1s linear infinite forwards;
  }

  @keyframes rotateChar {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

.game-container {
  display: flex;
  height: calc(100% - 50px);
  background-color: #000;
  border: 5px solid #444;
  padding: 20px;
  box-shadow: 0 0 20px #666;
  overflow: hidden;

  .title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .letter {
      font-size: 3rem;
      font-family: "Orbitron", sans-serif;
      color: #fff;
      margin: 0 .25rem;
      transition: font-size 0.2s ease-in-out;
      user-select: none;

      &.v {
        @include specialChar;
      }

    }
  }
}
