<div
  class="virtual-joystick"
  [class.left]="position === 'left'"
  [class.right]="position === 'right'"
  [class.movement]="type === 'movement'"
  [class.rotation]="type === 'rotation'"
  [class.active]="isActive"
  [class.visible]="isVisible"
  [style.width.px]="baseSize"
  [style.height.px]="baseSize"
  #joystickBase>

  <div class="joystick-base"></div>

  <div
    class="joystick-stick"
    [style.width.px]="stickSize"
    [style.height.px]="stickSize"
    [style.transform]="stickTransform"
    #joystickStick>
  </div>
</div>
