.board-container {
  display: flex;
  border: 1px solid #444;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 1023px) {
    border: 0;
    border-top: 1px solid #444;
  }

  .canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
