.board-container {
  display: flex;
  border: var(--border-width-thin) solid var(--game-primary);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 1023px) {
    border: 0;
    border-top: var(--border-width-thin) solid var(--game-primary);
  }

  .canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
